%p
  %strong Title:
  = @schedule.title
%p
  %strong Title:
  = @schedule.body
%p
  %strong Active:
  - if @schedule.active == 1
    Posting...
  - elsif @schedule.active == 2
    Active
  - elsif @schedule.active == 3
    Deleting...
  - else
    Error!
%p
  %strong Posting:
  = @schedule.posting
%p
  %strong clurl:
  = @schedule.clurl

=link_to "Back", schedules_path