.jumbotron
  .container
    %h1 Welcome to Gary.
    %p Gary manages your craigslist postings for you.
    %ul
      %li
        %strong Scheduled Postings:
        Setup periodic schedules to ensure that your posting stays close to the top.
      %li
        %strong Anti-flag:
        Gary will watch your posting and automatically repost them should they be flagged as spam. Gary's got your back!
      %li
        %strong REST API:
        Manage Gary through the web GUI or send commands via an API.